.jumbotron-image{
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
}